.signin__background {
	width: 100%;
	height: 100vh;
	z-index: -1;
	display: grid;
	place-items: center;
}

.signin {
	grid-template-columns: repeat(2, 1fr);
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	height: 100%;
	background-color: #ffff;
	overflow: hidden;
	box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5);
}
.signin__form {
	display: grid;
	place-items: center;
	padding: 2rem;
	justify-items:self-start  !important;
}
.signin__box {
	background-image: url('./img/water.jpeg');
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #1a6c7a;
	background-blend-mode: soft-light;
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	gap: 1.5rem 0;
	color: honeydew;
	letter-spacing: 0.5px;
	width: 77.5%;

}
.signin__welcome {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 20%;
	font-size: 2rem;
	justify-content: flex-end;
}
.signin__text {
	font-weight: 400;
	color: #00637b;
}
.signin__img {
	width: 30%;
}


.form {
	display: grid;
	align-self: self-start;
	font-size: 1.5rem;
	row-gap: 2.5rem;
	width: 100%;
}
.form > * {
	width: 25rem;
}
.form > * label {
	font-size: 1.5rem;
}
.text--light {
	align-self: self-end;
	font-size: 1.7rem;
}
.text--bold {
	align-self: self-start;
	font-size: 2.5rem;
	font-weight: bold;
}


@media only screen and (max-width:62.5em){
    .signin__box{
        display: none;
    }
}